* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* .container {
    padding: 0 130px;
} */

.header {
    width: 1440px;
    /* border: 2px solid red; */
    margin: 0 auto;
    padding: 0 130px;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 46px 130px;
}

.nav ul {
    display: flex;
    gap: 40px;
}

.nav ul li {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.nav ul li:hover {
    color: red;
    font-size: 24px;
    font-weight: 700;
    transition: 0.5;
}

.nav ul li:active {
    color: blue;
    font-size: 32px;
    font-weight: 700;
    transition: 0.5;
}

.header-content {
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content_text {
    width: 440px;
}

.header-content_text h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 56px;
}

.header-content_text p {
    font-size: 19px;
    font-weight: 300;
    line-height: 32px;
    color: #7D7987;
    margin-top: 26px;
    margin-bottom: 35px;
}

.header-content_text button {
    width: 197px;
    height: 49px;
    border-radius: 55px;
    font-size: 17px;
    font-weight: 700;
    background-color: #458FF6;
    color: white;
    border: none;
}

.header-content_text button:hover {
    background-color: #458FF600;
    color: #458FF6;
    border: 2px solid #458FF6;
    transition: all 1s;
}

.services {
    width: 1440px;
    /* border: 2px solid green; */
    margin: 0 auto;
}

.services-h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 61px;
}

.services-p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 36px;
}

.services-cards {
    width: 1200px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 380px;
    height: 380px;
    border-radius: 20px;
    background-color: #E7E7E7;
    padding: 71px 56px 31px 39px;
    margin-bottom: 40px;
}

.card h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
}

.card p {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}

.card:hover {
    background-color: #458FF6;
}

.button-div{
    display: flex;
    justify-content: center;
}

.button1 {
    margin: 32px auto;
    width: 200px;
    height: 56px;
    border-radius: 55px;
    border-color: #458FF6;
    color: #458FF6;
}

.h1 {
    margin-top: 76px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}

.div {
    display: flex;
}

.h1 {
    margin-bottom: 75px;
}

.h11 {
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
}

.div1 {
    width: 435px;
    height: 396px;
    margin-left: 175px;
}

.p {
    color: #7D7987;
    margin-top: 62px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

.button2 {
    width: 201px;
    height: 56px;
    margin-top: 350px;
    margin-left: -443px;
    border-radius: 55px;
    border-radius: 55px;
    border-color: #458FF6;
    color: #458FF6;
}

.div2 {
    width: 1180px;
    height: 782px;
    /* border: 2px solid brown; */
    margin: 0 auto;
}

.h12 {
    margin-top: 152px;
    margin-bottom: 159px;
    text-align: center;
}

.ichi {
    padding: 10px 84px 42px 30px;
}

.div2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.div3 {
    width: 380px;
    height: 516px;
}
.h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.text {
    color: #4089ED;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    cursor: pointer;
}

.button3 {
    width: 201px;
    height: 56px;
    margin-top: 43px;
    margin-left: -350px;
    border-radius: 55px;
    border-radius: 55px;
    border-color: #458FF6;
    color: #458FF6;
}